<!DOCTYPE html>
<html lang="en">
	<link rel="icon" type="image/png" href="{{ site.baseurl }}/favicon.png">
	<link href="css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
	 <link href="css/agency.min.css" rel="stylesheet">
	
 <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
   

    <div class="container">
      
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false">
        Menu
        <i class="fa fa-bars"></i>
      </button>


      <div class="collapse navbar-collapse" id="navbarResponsive">
        <a class="nav-link js-scroll-trigger" href="#page-top"><img class="logu" src="images/logo.png"></a>
        <ul class="navbar-nav text-uppercase ml-auto">
           <li class="nav-item">

            

          </li>
          
          <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#portfolio">NOSSOS CURSOS</a>
          </li> 
          <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="https://api.whatsapp.com/send?phone=5514981741431">CURSO TQS</a>
          </li>
           <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="https://api.whatsapp.com/send?phone=5514981741431">CURSO REVIT</a>
          </li>
           <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="https://api.whatsapp.com/send?phone=5514981741431">CURSO ROBÓTICA</a>
          </li> 
         
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">MÉTODO</a>
          </li>
          
         
          
          <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#team">SOBRE NÓS</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">CONTATO</a>
          </li>

           <li class="nav-item">
            <a class="nav-link js-scroll-trigger" target="_blank" link rel="canonical" href='http://blog.escolamarte.com.br'>BLOG</a></li>
            <div><a class="btn btn-primary1 btn-xl text-uppercase js-scroll-trigger" target="_blank" href="https://api.whatsapp.com/send?phone=5514981741431">SUPER DESCONTO!</a></div>
	</body>
</html>

	    </script>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<script src="css/jquery.min.js"></script>
	  <script src="css/bootstrap.bundle.min.js"></script>

	  <!-- Plugin JavaScript -->
	  <script src="css/jquery.easing.min.js"></script>

			<div class="product-container">
				{% include product-styles.html product=page %}
				<div class="product-details" id="add">
					<h3>{{ page.name }}</h3>
					{{ page.description_markdown | markdownify }}

					<h4>${{ page.price }}</h4>
					<div class="button"><a button target="_blank" href='https://escolamarte.com.br/compra/'>Comprar</button>
					</div> 
				</div>
			</div>
		</div>
	
</div>

<script src="https://cdn.snipcart.com/scripts/2.0/snipcart.js" data-api-key="{{ site.api_key }}" id="snipcart"></script>
<link href="https://cdn.snipcart.com/themes/2.0/base/snipcart.min.css" rel="stylesheet" type="text/css" />
